@import url("productos.css");
@import url("./contacto.css");

:root {
  --color-primario: #ffa600; /* Rojo */
  --color-secundario: #00ff00; /* Verde */
}
/* NAV BAR */
nav img {
  width: 70%;
}

nav {
  background-color: var(--color-primario);
}

/* Home Productos */
#productos button {
  background-color: var(--color-primario);
  width: 300px;
}
#productos div {
  text-align: center;
}

#productos {
  margin-top: 130px;
}

/* Home Servicios */
#servicios-container {
  background-color: var(--color-primario);
  padding: 100px 30px;
  width: 100%;
}

#servicios-container h2 {
  margin-bottom: 100px;
  font-size: 3em;
  text-align: center;
}

/*--------------------------------------------- FORM  */

/*--------------------------------------- FOOTER */
#footer {
  background-color: rgb(29, 29, 29);
  color: white;
  margin: 0;
}

.iconos > a > img {
  width: 30px;
}

@media screen and (max-width: 768px) {
  #login {
    display: none;
  }
}

header {
  width: 10px;
}
