/*---------------------------------tarjetas--*/

.contenidoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sectionProductos > div .card {
  margin: 1rem;
  padding: 1rem;
}

.item {
  max-width: 100%;
  height: auto;
}

.item > img {
  width: 100%;
}

/* Cambiar */

#sectionProductos {
  margin-top: 200px;
  background-color: var(--color-primario);
  height: max-content;
}

#sectionProductos h1 {
  margin: 50px;
  font-size: 3em;
}

.productos-btn {
  border-radius: 5px;
  background-color: #212529;
  color: white;
  padding: 5px;
  width: 100%;
  margin: 5px;
  border: none;
}

.productos-btn a {
  color: white;
  text-decoration: initial; /* Restablece la decoración del texto */
}

#link {
  color: #212529;
  text-decoration: none;
}
