:root {
  --color-primario: #ffa600; /* Rojo */
  --color-secundario: #00ff00; /* Verde */
}

/* Home Productos */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#productoSeccion {
  margin: 0;
}
#productos button {
  background-color: var(--color-primario);
  width: 300px;
}
#productos div {
  text-align: center;
}


/*---------------------------------tarjetas--*/
.contenidoCard {
  display: flex;
  justify-content: center;
}

.card {
}


/* Home Servicios */
#servicios-container {
  background-color: var(--color-primario);
  padding: 100px 30px;
  width: 100%;
}

#servicios-container h2 {
  margin-bottom: 100px;
  font-size: 3em;
  text-align: center;
}
